@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@font-face {
    font-family: "Clarendon Blk BT";
    src: url("images/Clrndnk.ttf");
}

* {
    margin: 0;
}
.header {
    margin-top: 20px;
    margin-bottom: 54px;
}
body {
    background: #FCF4F0;
}
.main {
    background: #FCF4F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    text-align: center;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.counter {
    border-radius: 9px;
    background: #D9D9D9;
    padding: 8px 5px;
    color: rgba(0, 0, 0, 0.81);
    font-family: Clarendon Blk BT;
    font-size: 16px;
    line-height: 150%;
    position: absolute;
    left: 30px;
    top: 120px;
}
.questions {
    box-sizing: border-box;
    border-radius: 32px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.49);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: Inter;
    font-size: 20px;
    line-height: 150%;
    padding: 50px 30px;
    width: 400px;
    text-align: center;
}
.questions .label {
    margin-bottom: 10px;
}
.variants button {
    width: 338px;
    height: 57px;
    border-radius: 7px;
    border: 1px solid #000;
    background: #FDF9F7;
    box-shadow: 6px 2px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 19px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    line-height: 150%;
}
.variants button:hover {
    background: black;
    color: white;
}
button.active {
    background: black;
    color: white;
}
.question-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}
.next {
    margin-right: 30px;
    cursor: pointer;
}